@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #202330;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.cards-container {
  width: 1000px;
  margin: 0 auto;
  
}

.cards-title {
  text-align: center;
  font-size: 2.5rem;
  
  color: #ffeba7;
}

.cards-list {
  display: grid;
  gap: 40px;
}

.card {
  position: sticky;
  top: 00px;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  
 
}

/* 🚀 Scroll-linked animation */
.card:not(:last-child) {
  view-timeline-name: --card;
  view-timeline-axis: block;

  animation-timeline: --card;
  animation-name: shrink;
  animation-range: entry 90% cover 40%;
  animation-fill-mode: both;
}

@keyframes shrink {
  0%, 70% {
    scale: 1;
    opacity: 1;

  }
  100% {
    scale: 0.85;
    opacity: 0.95;
  }
}

.imageforfrontedpagggg{
  width: 100%;
  height: 100%;
}
