*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}


.ProductpagecomponentDivv{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 10%;
    justify-content: center;
    
}
.imageforproductpageee{
    width: 400px;
    height: 450px;
    border-radius: 5px;
    object-fit: cover;
}
.nameforproductpagesectionname{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    color: black;
}
.priceforproductsection{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    color: black;
}
.sizechartproductpage{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 500px;
}
.btnforsize{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px ;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.click{
    color: white;
    background-color: black;
}
.normal{
    color: black;
    background-color: white;
}


.buttonsectionforproductpage{
    position: relative;
    top: 10px;
}
.addtobagbtnproductpage{
    width: 400px;
    height: 50px;
    color: black;
    background-color: white;
    border: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    transition: transform 0.5s ease;
}
.addtobagbtnproductpage:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.buttonsectionforproductpage{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.ordernow{
    color: white;
    background-color: black;
}
.productpagecontentsection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.freedeliverydivv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    
}
.iconfordelivery{
    font-size: 20px;
    color: black;
}
.freedeliveryforfree{
    font-family: "Poppins";
    font-weight: 300;
    font-size: 15px;
    color: black;
    max-width: fit-content;
}
.labelforheadingg,.contentforlabell{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 18px;
    color: black;
}
.firstdiscription{
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.358);
    padding: 10px;
}
.discriptiondivvsection{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.358);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    gap: 10px;
}
.lelele{
    position: relative;
    left: 90px;
}
.leleel{
    position: relative;
    left: 30px;
}

@media only screen and (max-width:453px){
    .ProductpagecomponentDivv{
        flex-direction: column;
       
        margin-top: 90px;
    }
    .imageforproductpageee{
        width: 300px;
        height: 400px;
        position: relative;
        left: 30px;
    }
    .productpagecontentsection{
        position: relative;
        left: 30px;
    }
    .addtobagbtnproductpage{
        width: 300px;
    }
    .labelforheadingg{
        font-size: 15px;
    }
    .contentforlabell{
        font-size: 15px;
    }
    .firstdiscription{
        gap: 40px;
    }
    .discriptiondivvsection{
        width: 300px;
    }
    .anana{
        position: relative;
        left: 10px;
    }
    .lelele{
        position: relative;
        left: 73px;
    }
    
}