@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*{
    margin: 0;
    padding: 0;
}


.imageforcardslideeIMage{
    width: 1000px;
    height: 90%;
    border-radius: 10px;
    object-fit: cover;
}